@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 span {
  font-weight: 700;
  color: rgb(51, 65, 85);
  font-size: 1.25rem;
}
